@import "tailwindcss";

@theme {
  --color-acad-yellow:#FBB040;
  --color-acad-light-yellow:#FFCCB1;
  --color-acad-blue:#003F6B;
  --color-acad-gray-light:#E9E9E9;
  --color-acad-gray:#D9D9D9;
  --color-acad-gray-dark:#4D4D4F;
}